In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import files
aqi_data = pd.read_csv("../Resources/CityAQIData.csv")
ordinances_data = pd.read_csv("../Resources/StateOrdinances.csv")
pop_data = pd.read_csv("../Resources/CityPopulation.csv")

aqi_data.head()

       Date  AQI mainPollutant        City    State
0  4/5/2020   58         Ozone  Birmingham  Alabama
1  4/6/2020   74         Ozone  Birmingham  Alabama
2  4/7/2020   60         PM2.5  Birmingham  Alabama
3  4/8/2020   56         PM2.5  Birmingham  Alabama
4  4/9/2020   44         Ozone  Birmingham  Alabama

In [3]:
aqiAverages = aqi_data.groupby(['State', 'City']).mean()
aqiAverages.reset_index(drop = False, inplace = True)
# aqiAverages = aqiAverages2[['City', 'AQI']]
aqiAverages = aqiAverages.round(2)
aqiAverages.head()

        State         City    AQI
0     Alabama   Birmingham  55.89
1      Alaska    Anchorage  19.50
2     Arizona      Phoenix  54.23
3    Arkansas  Little Rock  43.83
4  California  Los Angeles  47.24

In [4]:
# Merging population and state ordinance df
state_data2 = pd.merge(pop_data, ordinances_data, on='Abbr')

# Droping unneeded columns
state_data = state_data2[['State', 'Abbr', 'Population', 'ShelterinPlaceOrdinance']]

# Merging aqi and state df
city_data = pd.merge(aqiAverages, state_data, on='State')

# Cleaning up df
city_data = city_data.set_index('Abbr') 
del city_data.index.name
city_data['ShelterinPlaceOrdinance'] = pd.to_datetime(city_data['ShelterinPlaceOrdinance'], format = "%m/%d/%Y")
city_data.head()

         State         City    AQI  Population ShelterinPlaceOrdinance
AL     Alabama   Birmingham  55.89      209880              2020-04-04
AK      Alaska    Anchorage  19.50      291538              2020-03-28
AZ     Arizona      Phoenix  54.23     1660272              2020-03-31
AR    Arkansas  Little Rock  43.83      197881                     NaT
CA  California  Los Angeles  47.24     3990456              2020-03-19

In [5]:
# Switching index and headers
json = city_data.T
json.to_json("../static/data/CityData.json")